name: Phpunit

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
    
    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md
    
    - name: Xdebug
      run: env XDEBUG_MODE=coverage
      
    - name: Run test suite
      run: php -dxdebug.mode=coverage -c ./tests/phpunit.xml --testdox --stderr --coverage-clover=coverage.xml
   
    - name: Send code coverage report to Codecov.io
      uses: codecov/codecov-action@v2
      with:
        #files: $GITHUB_WORKSPACE/tests/reports/clover.xml
        token: ${{ secrets.CODECOV_TOKEN }}
